body {
    background-color: #176eca ;
    color: #000000 ;
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: #0759f0 !important;
    color: #ffffff !important;
    border-radius: 12px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.6);
}

button, .btn {
    background-color: #1e3a8a !important;
    color: #ffffff;
    border: none !important;
    border-radius: 8px !important;
    padding: 10px 16px !important;
    cursor: pointer !important;
    transition: background 0.3s;
}

button:hover, .btn:hover {
    background-color: #3b82f6 !important;
}

.card, .box, .container {
    background-color: #1b263b !important;
    color: #000000 ;
    border-radius: 12px !important;
    box-shadow: 0px 4px 12px rgba(96, 89, 89, 0.5) !important;
    padding: 16px;
}
